@using Views1.Models
@model List<Student>
<!DOCTYPE html>
    <html>
    <head>
	<link rel="stylesheet" href="~/StyleSheet.css" />
        <title>Student List</title>
    </head>
    <body>
<center>
    @{
        //List<Student>? Students = Model;

        <table>
            <tr>
                <th>Name</th>
                <th>Std</th>
				<th>Roll</th>
            </tr>
        @foreach(Student St in Model)
        {
                <tr>
                    <td>@St.name</td>
                    <td>@St.std</td>
                    <td>@St.roll</td>
                </tr>
            }
        </table>
    }

        <h2>Using ViewBag</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Std</th>
                <th>Roll</th>
                <th>Action</th>
            </tr>
    @foreach(Student student in ViewBag.students){
       
                <tr>
                    <td>@student.name</td>
                    <td>@student.std</td>
                    <td>@student.roll</td>
                    <td><a href="/details/@student.name">Details</a></td>
                </tr>
    }
        </table>
    }
    </center>
    </body>
    </html>